<link rel="stylesheet" href="/css/styles.css">

<div class="sidebar">
    <h2>Navigation</h2>

    <a class="nav-button" href="/admin/departments/create">Create Departments</a>
    <a class="nav-button" href="/admin/departments/list">Departments</a>
    <a class="nav-button" href="/admin/users/create">Add User</a>
    <a class="nav-button" href="/admin/users/list">User List</a>
</div>
