<nav class="sidebar">
    <h2>Navigation</h2>
    <a href="/student/dashboard">Dashboard</a>
    <a href="/student/assignments/create">Create Assignment</a>
    <a href="/student/assignments">My Assignments</a>
    <a href="/student/notifications">Notifications</a>
    <form action="/logout" method="get" style="margin-top:18px;">
        <button type="submit" class="btn btn-logout" style="width:100%">Logout</button>
    </form>
</nav>
